<div class="container my-5">
    <h1 class="display-5 fw-bold lh-1 mb-3 text-center">Sobre nosotros</h1>
</div>

<div class="container my-5">
    <div class="row p-4 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-4 overflow-hidden">
            <img class="rounded-lg-3" src="./assets/images/general/sobre_nosotros.png" width="500px">
        </div>
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <p class="lead">
                El Programa Transforma caprino nace en el año 2021 con el apoyo del Gobierno Regional
                y el Programa de Zonas Rezagadas, para contribuir al desarrollo y modernización del
                negocio caprino de la región de Coquimbo. Apoyamos a las familias que producen
                alimentos derivados del caprino en fábricas modernas, pero que conservan la tradición
                del inconfundible queso de cabra de la región de Coquimbo, de la carne de cabrito y
                charqui de cabra entre otros tantos productos, todos ellos de excelentes características
                nutricionales y exquisito sabor. Actuamos unidos bajo una gobernanza de trabajo
                mancomunado entre el sector público, la academia y los privados, diseñando estrategias
                para superar los problemas y desarrollar las soluciones. Con el aumento de la productividad
                y el valor de los productos ayudamos a superar la pobreza, contribuimos a reforzar la
                identidad regional y a superar los efectos de la desertificación y el cambio climático.
            </p>
        </div>
    </div>
</div>

<div class="shadow-lg caprino-bg-orange">
    <div class="container my-5">
        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
            <ng-container *ngFor="let info of purpose_info">
                <app-purpose [title]="info.title" [description]="info.description"></app-purpose>
            </ng-container>
        </div>
    </div>
</div>

<div class="container mt-5 text-center">
    <h2 class="display-7 fw-bold lh-1">Ejes estratégicos e Iniciativas</h2>
</div>

<div class="container px-4" id="custom-cards">
    <div class="row row-cols-1 row-cols-lg-2 align-items-stretch g-4 py-5">
        <ng-container *ngFor="let info of axis_info">
            <app-axis [axis]="info.axis" [title]="info.title" [objective]="info.objective" [initiatives]="info.initiatives"></app-axis>
        </ng-container>
    </div>
</div>

<div class="container my-5">
    <h1 class="display-5 fw-bold lh-1 mb-3 text-center">Equipo Transforma Caprino</h1>
</div>

<div class="container my-5 shadow-lg">
    <div class="row row-cols-1 row-cols-sm-2 g-3">
        <ng-container *ngFor="let info of profile_info">
            <app-profile [name]="info.name" [role]="info.role" [prof]="info.prof" [sub]="info.sub" [des]="info.des" [img]="info.img"></app-profile>
        </ng-container>
    </div>
</div>

<app-footer></app-footer>