<div class="container my-5">
    <h1 class="display-5 fw-bold lh-1 mb-3 text-center">Gobernanza</h1>
</div>

<div class="container my-5 shadow-lg">
    <p class="lead text-center p-5">
        Aunque la región se destaca por una fuerte institucionalidad tanto de investigación,
        transferencia y capacitación en el área caprina; con importantes esfuerzos de coordinación interinstitucional
        en el sector, especialmente a través del instrumento PTI; existe un reconocimiento de los actores que aún la
        institucional es débil entre los agentes público-privado y público-público.
    </p>
</div>

<div class="container mt-5 text-center">
    <h2 class="display-7 fw-bold lh-1">Ejes estratégicos e Iniciativas</h2>
</div>

<div class="container px-4" id="custom-cards">
    <div class="row row-cols-1 row-cols-lg-2 align-items-stretch g-4 py-5">
        <ng-container *ngFor="let info of axis_info">
            <app-axis [axis]="info.axis" [title]="info.title" [objective]="info.objective" [initiatives]="info.initiatives"></app-axis>
        </ng-container>
    </div>
</div>

<div class="container mt-5 text-center">
    <h2 class="display-7 fw-bold lh-1">Centro Agropecuario Catahueche</h2>
</div>

<div class="container my-5 shadow-lg">
    <div class="row align-items-center py-4 rounded rounded-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <p class="lead">
                Estas instalaciones ubicadas en la localidad de Canela Baja, albergan la actividad productiva de numerosas
                comunidades agrícolas bajo tres ejes estructurales: la sustentabilidad, la calidad de vida y la innovación
                alimentaria. Este centro ha dado espacio para la creación de nuevos productos, en especial alimentos cárnicos
                innovadores para el sector, como son las hamburguesas, la carne mechada, longanizas y lomo ahumado, entre otros.
            </p>
        </div>
        <div class="col-lg-4 overflow-hidden">
            <img class="rounded-lg-3" src="./assets/images/catahueche.jpg" width="500px">
        </div>
    </div>
</div>

<div class="container mt-5 text-center">
    <h2 class="display-7 fw-bold lh-1">Asociación Gremial de Capricultores de Coquimbo</h2>
</div>

<div class="container my-5 shadow-lg">
    <div class="row align-items-center py-4 rounded rounded-lg">
        <div class="col-lg-4 overflow-hidden">
            <img class="rounded-lg-3" src="./assets/images/capricultores.jpg" width="500px">
        </div>
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <p class="lead">
                Este nuevo cuerpo asociativo se conformó en septiembre de 2020 y está conformado por 11 socios provenientes
                de distintas comunas de la región. Sus objetivos están relacionados a fortalecer a la industria caprina
                dedicada a los alimentos, como son el queso, el charqui, la carne y la leche. Además, pretende afrontar
                problemáticas transversales de la industria y ampliar su representatividad, sumando valor a la cadena de
                valor de los productos caprinos.
            </p>
        </div>
    </div>
</div>

<div class="container mt-5 text-center">
    <h1 class="display-7 fw-bold lh-1">Actores claves</h1>
</div>

<div class="row row-cols-1 row-cols-lg-5 p-5 justify-content-evenly">
    <div class="col py-3 rounded-5 caprino-actors-logo">
        <a href="https://www.corfo.cl/sites/cpp/homecorfo" target="_blank">
            <img class="d-block mx-auto caprino-img-size-sm" src="./assets/images/actors/corfo-logo.png">
        </a>
    </div>
    <div class="col py-3 rounded-5 caprino-actors-logo">
        <a href="https://www.asoex.cl/" target="_blank">
            <img class="d-block mx-auto caprino-img-size-md" src="./assets/images/actors/asoex-logo.png">
        </a>
    </div>
    <div class="col py-3 rounded-5 caprino-actors-logo">
        <a href="https://www.sernatur.cl/gestion-territorial/" target="_blank">
            <img class="d-block mx-auto caprino-img-size-lg" src="./assets/images/actors/gestion-territorial-logo.png">
        </a>
    </div>
    <div class="col py-3 rounded-5 caprino-actors-logo">
        <a href="https://www.gorecoquimbo.cl/" target="_blank">
            <img class="d-block mx-auto caprino-img-size-md" src="./assets/images/actors/gobierno-regional-logo.jpg">
        </a>
    </div>
</div>

<app-footer></app-footer>