<div class="container my-5">
    <h1 class="display-5 fw-bold lh-1 mb-3 text-center">Gobernanza</h1>
</div>

<div class="container my-5 shadow-lg">
    <p class="lead text-center p-5">
        La región de Coquimbo destaca por una fuerte institucionalidad tanto en investigación,
        transferencia y capacitación en el área caprina. Este programa pretende incrementar la
        coordinación entre las instituciones y el sector privado para asegurar el buen uso de
        los recursos, contribuyendo al éxito de los distintos emprendimientos y su continuidad
        en el tiempo. Para esto hemos creado una gobernanza participativa y representada por
        actores validados por la comunidad.
    </p>
</div>

<div class="row row-cols-1 row-cols-lg-5 p-5 justify-content-evenly">
    <div class="col py-3 rounded-5 caprino-actors-logo">
        <a href="https://www.asoex.cl/" target="_blank">
            <img class="d-block mx-auto caprino-img-size-md" src="./assets/images/actors/asoex-logo.png">
        </a>
    </div>
    <div class="col py-3 rounded-5 caprino-actors-logo">
        <a href="https://www.sernatur.cl/gestion-territorial/" target="_blank">
            <img class="d-block mx-auto caprino-img-size-lg" src="./assets/images/actors/gestion-territorial-logo.png">
        </a>
    </div>
    <div class="col py-3 rounded-5 caprino-actors-logo">
        <a href="https://www.gorecoquimbo.cl/" target="_blank">
            <img class="d-block mx-auto caprino-img-size-md" src="./assets/images/actors/gobierno-regional-logo.jpg">
        </a>
    </div>
    <div class="col py-3 rounded-5 caprino-actors-logo">
        <a href="https://www.corfo.cl/sites/cpp/homecorfo" target="_blank">
            <img class="d-block mx-auto caprino-img-size-sm" src="./assets/images/actors/corfo-logo.png">
        </a>
    </div>
</div>

<div class="container mt-5 text-center">
    <h2 class="display-7 fw-bold lh-1">Asociación Gremial de Capricultores de Coquimbo</h2>
</div>

<div class="container my-5 shadow-lg">
    <div class="row align-items-center py-4 rounded rounded-lg">
        <div class="col-lg-4 overflow-hidden">
            <img class="rounded-lg-3" src="./assets/images/general/capricultores.png" width="500px">
        </div>
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <p class="lead">
                Este nuevo cuerpo asociativo nació en septiembre del 2020 y está conformado por 11
                empresas provenientes de distintas comunas de la región. Sus objetivos tienden al
                fortalecimiento de la industria caprina dedicada a la producción de queso de cabra,
                charqui, carne de cabrito, leche y otros derivados. Además, pretende abordar problemáticas
                transversales de la industria y ampliar su representatividad facilitando la coordinación
                de los productores con la academia y los organismos públicos.
            </p>
        </div>
    </div>
</div>

<div class="container my-5 text-center">
    <img class="rounded-lg-3" src="./assets/images/general/organigrama.png">
</div>

<div class="container mt-5 text-center">
    <h2 class="display-7 fw-bold lh-1">Centro Agropecuario Catahueche</h2>
</div>

<div class="container my-5 shadow-lg">
    <div class="row align-items-center py-4 rounded rounded-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <p class="lead">
                Ubicado en la localidad de El Chilcal, Canela Baja es un centro de desarrollo
                integral que alberga la actividad productiva de La Comunidad Agrícola Canela
                Baja Spa. Tras este proyecto hay 669 familias que se benefician directamente, e
                indirectamente todos los habitantes de la comuna de Canela. Sus ejes de desarrollo
                descansan en la sustentabilidad, la calidad de vida y la innovación alimentaria.
                La fábrica de alimentos cárnicos de cabra Catahueche, emplazada en el centro ha
                sido apoyada por Corfo desde sus inicios y hoy produce hamburguesas, carne mechada
                y longanizas de cabra.
            </p>
        </div>
        <div class="col-lg-4 overflow-hidden">
            <img class="rounded-lg-3" src="./assets/images/general/catahueche.jpg" width="500px">
        </div>
    </div>
</div>

<div class="container mt-5 text-center">
    <h1 class="display-7 fw-bold lh-1">Actores claves</h1>
</div>

<app-footer></app-footer>