<div class="col shadow-sm">
    <div class="card card-cover overflow-hidden text-black text-center rounded-5 shadow-lg caprino-bg-orange caprino-card caprino-card-min-size-sm">
        <div class="d-flex flex-column pt-5 px-3 text-shadow-1" (click)="expand()">
            <h1 class="display-6 pb-3 fw-bold">Eje {{ axis }}: {{ title }}</h1>
            <p class="lead pb-3">{{ objective }}</p>
        </div>
        <div *ngIf="expanded">
            <ul class="lead p-3">
                <ng-container *ngFor="let initiative of initiatives">
                    <li class="card card-cover p-3 mb-2 rounded-5 shadow-lg caprino-bg-orange">{{ initiative }}
                </ng-container>
            </ul>
        </div>
    </div>
</div>