<div class="container my-5">
    <h1 class="display-5 fw-bold lh-1 mb-3 text-center">Nuestra Historia</h1>
</div>

<div class="container my-5">
    <p class="lead text-center">
        Somos la continuación del programa Territorial Integrado Caprino, PTI caprino, que
        comenzó a funcionar en el año 2018, apoyando al negocio caprino con productores de
        las comunas de Illapel, Salamanca y Canela. Durante los 3 años se realizaron diversas
        actividades tendientes a diagnosticar la situación, apoyar al desarrollo del sector con
        actividades de educación, difusión, estudios y apalancamiento de recursos.
        <br>
        <br>
        Finalmente, y para dar continuidad al proyecto se desarrolló una hoja de ruta con un
        horizonte inicial de tres años, prorrogable por 3 períodos, con foco en actividades que
        permitirán apoyar al desarrollo del negocio caprino y bajo el alero del Programa
        Transforma Caprino de Corfo, región de Coquimbo.
    </p>
</div>

<div class="container my-5">
    <h2 class="display-7 fw-bold lh-1 mb-3">Diagnóstico</h2>
</div>

<div class="container my-5">
    <div class="row align-items-center">
        <div class="col-lg-4 overflow-hidden">
            <img class="rounded-lg-3" src="./assets/images/img1.jpg" width="500px">
        </div>
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <p class="lead">
                La Universidad de Chile, en el año 2018 realizó el estudio de diagnóstico
                de la Cooperativa Trashumantes de Illapel, Agrupación de Productores de
                Combarbalá y Cooperativa Agrocanela, con la finalidad de caracterizar a
                los productores desde el punto de vista productivo y social. Posteriormente
                se trabajó en talleres canvas con cada una de las agrupaciones, para configurar
                estrategias de acción.
            </p>
        </div>
    </div>
</div>

<div class="container my-5">
    <h2 class="display-7 fw-bold lh-1 mb-3">Seminarios</h2>
</div>

<div class="container my-5">
    <div class="row align-items-center">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <p class="lead">
                Durante los 3 años de Programa Territorial Integrado Caprino realizamos seminarios
                internacionales donde participaron expertos chilenos, argentinos, españoles y
                franceses con la finalidad de atraer conocimiento , tecnología y motivación a
                productores y profesionales.
            </p>
        </div>
        <div class="col-lg-4 overflow-hidden">
            <img class="rounded-lg-3" src="./assets/images/img1.jpg" width="500px">
        </div>
    </div>
</div>

<div class="container my-5">
    <h2 class="display-7 fw-bold lh-1 mb-3">Capacitación</h2>
</div>

<div class="container my-5">
    <div class="row align-items-center">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <p class="lead">
                Desarrollamos diversos talleres presenciales y a distancia sobre elaboración de queso
                tradicional, quesos gourmet y técnicas de maduración de quesos, también, se realizaron
                dos talleres de alimentación de ganado caprino.
            </p>
        </div>
        <div class="col-lg-4 overflow-hidden">
            <img class="rounded-lg-3" src="./assets/images/img1.jpg" width="500px">
        </div>
    </div>
</div>

<div class="container my-5">
    <h2 class="display-7 fw-bold lh-1 mb-3">Giras Tecnológicas</h2>
</div>

<div class="container my-5">
    <div class="row align-items-center">
        <div class="col-lg-4 overflow-hidden">
            <img class="rounded-lg-3" src="./assets/images/img2.jpg" width="500px">
        </div>
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <p class="lead">
                Gracias al apoyo del FIA se realizó una gira a España con productores locales
                visitando universidades, criaderos , fábricas de queso, leche en polvo, comercio e
                industria para insumos agropecuarios. También recorrimos Magallanes, Parral ,
                Santiago, Casa Blanca, Maipú, Mallarauco y Til Til visitando plantas faenadoras,
                criaderos caprinos , fábricas de queso, curtiembre, comercio de productos
                Gourmet y Vega Central.
            </p>
        </div>
    </div>
</div>

<div class="container my-5">
    <h2 class="display-7 fw-bold lh-1 mb-3">Participación Ferias</h2>
</div>

<div class="container my-5">
    <div class="row align-items-center">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <p class="lead">
                Participamos en distintas ferias locales y nacionales llevando el producto de
                nuestros empresarios. Gracias al trabajo en conjunto con Indap, CRDP, Prochile y
                los productores llegamos al publico general difundiendo los productos y sus
                bondades.
            </p>
        </div>
        <div class="col-lg-4 overflow-hidden">
            <img class="rounded-lg-3" src="./assets/images/img2.jpg" width="500px">
        </div>
    </div>
</div>

<div class="container my-5">
    <h2 class="display-7 fw-bold lh-1 mb-3">Innovación y Desarrollo de Productos</h2>
</div>

<div class="container my-5">
    <div class="row align-items-center">
        <div class="col-lg-4 overflow-hidden">
            <img class="rounded-lg-3" src="./assets/images/img2.jpg" width="500px">
        </div>
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <p class="lead">
                La Cooperativa Agrocanela de Canela desarrolla, con la asesoría del Inacap el Snack
                de carne de cabra, que posteriormente ganaría el premio Fuego a la innovación de
                la Asociación Gastronómica de Chile en el año 2019.
            </p>
        </div>
    </div>
</div>

<div class="container my-5">
    <h2 class="display-7 fw-bold lh-1 mb-3">Eventos Culinarios</h2>
</div>

<div class="container my-5">
    <div class="row align-items-center">
        <div class="col-lg-4 overflow-hidden">
            <img class="rounded-lg-3" src="./assets/images/img2.jpg" width="500px">
        </div>
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <p class="lead">
                A lo largo de los 3 años del PTI Se desarrollaron diversos eventos culinarios para
                socializar y mostrar los productos de las empresas que cuentan con resolución
                sanitaria. En estas actividades contamos con la colaboración del Barrio del Mar,
                Restaurantes Tololo Beach, Santorini y Molokai, los chefs Edgardo Aguilera,
                Fernando Madariaga, Juan Ruilova, Escuela de Gastronomía del Inacap, viña Tololo
                y Escuela de los sentidos.
            </p>
        </div>
    </div>
</div>

<div class="container my-5">
    <h2 class="display-7 fw-bold lh-1 mb-3">Material Publicitario y Difusión</h2>
</div>

<div class="container my-5">
    <div class="row align-items-center">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <p class="lead">
                Se realizó el diseño de etiquetas, stock fotográfico y videos para apoyar la difusión
                de los productos caprinos. También se entregó ropa con logos institucionales para
                participación en ferias.
                <br>
                Se dio a conocer el programa en prensa, radio y redes sociales y se contrató
                Publicidad en letrero LED.
            </p>
        </div>
        <div class="col-lg-4 overflow-hidden">
            <img class="rounded-lg-3" src="./assets/images/img2.jpg" width="500px">
        </div>
    </div>
</div>

<div class="container my-5">
    <h2 class="display-7 fw-bold lh-1 mb-3">Apalancamiento de Recursos</h2>
</div>

<div class="container my-5">
    <div class="row align-items-center">
        <div class="col-lg-4 overflow-hidden">
            <img class="rounded-lg-3" src="./assets/images/img2.jpg" width="500px">
        </div>
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <p class="lead">
                Contribuir a disminuir las brechas de los productores que les dificultaban
                elaborar productos bajo adecuados estándares de inocuidad y acceder a resolución
                sanitaria, el Programa PTI caprino apalancó recursos de los programas PAR,
                Activa Inversión, Acelera y Voucher de Innovación de Corfo.
            </p>
        </div>
    </div>
</div>

<app-footer></app-footer>