<div id="carouselId" class="carousel slide" data-bs-ride="carousel">
  <ol class="carousel-indicators">
    <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#carouselId" data-bs-slide-to="1"></li>
    <li data-bs-target="#carouselId" data-bs-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img src="assets/images/img1.jpg" class="w-100" alt="First slide">
    </div>
    <div class="carousel-item">
      <img src="assets/images/img2.jpg" class="w-100" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img src="assets/images/img3.jpg" class="w-100" alt="Third slide">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container col-xxl-8 px-4 py-5 shadow-lg">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Proyecto Transforma Caprino</h1>
      <p class="lead">
        "Programa de Desarrollo de la agroindustria elaboradora de productos caprinos en la Región de Coquimbo"
      </p>
    </div>
    <div class="col-10 col-sm-8 col-lg-6">
      <video width="100%" controls>
        <source src="./assets/videos/video1.mp4" type="video/mp4">
      </video>
    </div>
  </div>
</div>

<div class="container col-xxl-8 px-4 py-5 border-top border-bottom border-warning">
  <div class="row flex-lg-row-reverse align-items-center">
    <h1 class="display-5 fw-bold lh-1 mb-3 text-center">Estrategia</h1>
    <p class="lead text-center py-3">
      Trabajamos en conjunto con empresarios caprinos innovadores que se esfuerzan por posicionar sus productos en mercados
      gourmet y desarrollar alimentos con altos estándares de inocuidad e innovación. Actuamos coordinados en una gobernanza
      integrada por el sector público, privado y la academia, con el fin de solucionar problemas e identificar oportunidades.
      La industria quesera artesanal y familiar, la producción de productos cárnicos caprinos y el turismo rural son algunos
      de nuestros ejes de desarrollo.
      <br>
      <br>
      El programa Transforma Caprino, el Gobierno regional, el Programa de Zonas Rezagadas y los empresarios queremos compartir
      con ustedes los beneficios del interesante mundo de los productos derivados de la cabra. ¡Los invitamos a conocernos!
    </p>
  </div>
</div>

<div class="container px-4 py-5 shadow-lg" id="custom-cards">
  <h1 class="pb-2 border-bottom">Propuesta de valor y objetivos</h1>
  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
    <ng-container *ngFor="let info of obj_info">
      <app-objective [title]="info.title"></app-objective>
    </ng-container>
  </div>
</div>

<app-footer></app-footer>