<nav class="navbar navbar-expand-lg navbar-light fixed-top caprino-bg-orange shadow-lg">
    <div class="container">
        <div class="col col-lg-3">
            <img src="./assets/images/logo4.png" height="80px">
        </div>
        <button class="navbar-toggler hidden-lg-up navbar-toggler-icon" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link fw-bold" routerLink="/inicio">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold" routerLink="/nosotros">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold" routerLink="/governanza">Gobernanza</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold" routerLink="/productores">Productores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold" routerLink="/noticias">Noticias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold" routerLink="/historia">Historia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold" routerLink="/estudios">Informes y Estudios</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="col mx-3">
                    <a href="https://www.facebook.com/caprinochile/" target="_blank">
                        <i class="bi bi-facebook caprino-icon-social"></i>
                    </a>
                </li>
                <li class="col mx-3">
                    <a href="https://www.instagram.com/caprinochile/" target="_blank">
                        <i class="bi bi-instagram caprino-icon-social"></i>
                    </a>
                </li>
                <li class="col mx-3">
                    <a href="https://twitter.com/caprinochile" target="_blank">
                        <i class="bi bi-twitter caprino-icon-social"></i>
                    </a>
                </li>
                <li class="col mx-3">
                    <a href="https://www.youtube.com/channel/UCQnkTifSzTqe378EYHKpnyA" target="_blank">
                        <i class="bi bi-youtube caprino-icon-social"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>