<footer class="footer mt-auto p-3 caprino-bg-green">
    <div class="row">
        <div class="col-md-3 align-self-center text-center">
            <img src="./assets/images/logo4.png" height="150px">
        </div>
        <div class="col-md-3 my-3 navbar-light row">
            <h4>Contenido</h4>
            <ul class="navbar-nav px-4 col-6">
                <li class="nav-item">
                    <a class="nav-link fw-bold" routerLink="/inicio">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold" routerLink="/nosotros">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold" routerLink="/governanza">Gobernanza</a>
                </li>
            </ul>
            <ul class="navbar-nav px-4 col-6">
                <li class="nav-item">
                    <a class="nav-link fw-bold" routerLink="/productores">Productores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold" routerLink="/noticias">Noticias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold" routerLink="/historia">Historia</a>
                </li>
            </ul>
        </div>
        <div class="col-6 col-md-3 my-3 text-center">
            <h4>Últimas noticias</h4>
            <app-news-item [id]="news.id" [date]="news.date" [title]="news.title"></app-news-item>
        </div>
        <div class="col-6 col-md-2 my-3 text-center">
            <h4>Síguenos en</h4>
            <ul class="navbar-nav">
                <li>
                    <a href="https://www.facebook.com/caprinochile/" target="_blank">
                        <i class="bi bi-facebook caprino-icon-social"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/caprinochile/" target="_blank">
                        <i class="bi bi-instagram caprino-icon-social"></i>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/caprinochile" target="_blank">
                        <i class="bi bi-twitter caprino-icon-social"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UCQnkTifSzTqe378EYHKpnyA" target="_blank">
                        <i class="bi bi-youtube caprino-icon-social"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>