<div class="container my-5">
    <h1 class="display-5 fw-bold lh-1 mb-3 text-center">Noticias</h1>
</div>

<div class="container my-5">
    <div class="row row-cols-1 row-cols-sm-3 g-3 mb-5">
        <div *ngFor="let n of news | paginate: { itemsPerPage: 6, currentPage: page }">
            <app-news-item [id]="n.id" [date]="n.date" [title]="n.title" [url]="n.url" [img]="n.img"></app-news-item>
        </div>
    </div>

    <pagination-controls (pageChange)="page = $event"
        previousLabel="Anterior"
        nextLabel="Siguiente">
    </pagination-controls>
</div>

<app-footer></app-footer>