<div class="container my-5">
    <h1 class="display-5 fw-bold lh-1 mb-3 text-center">"Compendio Estudios Programa Territorial Integrado Caprino" - Carne (2018-2020)</h1>
</div>

<div class="container my-5">
    <div class="row align-items-center">
        <div class="col-lg-2 overflow-hidden text-center">
            <img class="rounded-lg-3" src="./assets/images/general/portada_carne.jpg" width="200px">
        </div>
        <div class="col p-3 p-lg-5 pt-lg-3">
            <p class="lead">
                Compendio de estudios desarrollados durante el PTI Caprino 2018-2020, que incluye el
                <b>"Estudio técnico económico de central de acopio"</b>, desarrollado por Álvaro García, Ing.
                Agrónomo, Consultora Tres Robles, <b>"Estudio técnico económico de planta faenadora móvil"</b>,
                desarrollado por Patti English, Med. veterinaria, Carnes Andes Sur, <b>"Estudio económico de
                tres escenarios de producción"</b>, desarrollado por Rubén Vera, Med. veterinario, Universidad
                Santo Tomás y <b>"Elaboración y costeo de charqui de cabra"</b>, desarrollado por Ingrid Haselbauer,
                Med. veterinaria, PTI Caprino.
                <br>
                <br>
                Link:
                <a target="_self" href="http://localhost:4200/assets/files/downloads/compendio_programa_caprino_carne.pdf"
                    download="compendio_programa_caprino_carne.pdf">
                    www.transformacarprino.cl/descargas/compendio_programa_caprino_carne.pdf
                </a>
            </p>
        </div>
    </div>
</div>

<div class="container my-5">
    <h1 class="display-5 fw-bold lh-1 mb-3 text-center">"Compendio Estudios Programa Territorial Integrado Caprino" - Quesos (2018-2020)</h1>
</div>

<div class="container my-5">
    <div class="row align-items-center">
        <div class="col-lg-3 overflow-hidden text-center">
            <img class="rounded-lg-3" src="./assets/images/general/portada_queso.jpg" width="300px">
        </div>
        <div class="col-lg-9 p-3 p-lg-5 pt-lg-3">
            <p class="lead">
                Compendio de estudios desarrollados durante el PTI Caprino 2018-2020, que incluye el
                <b>"Estudio preliminar del mercado del queso de cabra, retail y horeca"</b>, desarrollado
                por Manuel Zamora, Ing. Agrónomo, <b>"Diseño de quesería y cámara de maduración"</b>, desarrollado
                por Carolina Contreras, Arquitecto, Colectivo Fermentos, <b>"Módulo de maduración y mantención
                de queso de cabra maduro"</b>, desarrollado por Toni Adsuara y Pere Adsuara, Acaprin, España y
                <b>"Estudio técnico y económico de planta de leche en polvo"</b>, desarrollado por Marcelo Chacana,
                Universidad Santo Tomás.
                <br>
                <br>
                Link:
                <a target="_self" href="http://localhost:4200/assets/files/downloads/compendio_programa_caprino_queso.pdf"
                    download="compendio_programa_caprino_queso.pdf">
                    www.transformacarprino.cl/descargas/compendio_programa_caprino_queso.pdf
                </a>
            </p>
        </div>
    </div>
</div>

<div class="container my-5">
    <h1 class="display-5 fw-bold lh-1 mb-3 text-center">"Compendio Estudios Programa Territorial Integrado Caprino" - Diagnóstico y Gobernanza (2018-2020)</h1>
</div>

<div class="container my-5">
    <div class="row align-items-center">
        <div class="col-lg-8 p-3 p-lg-5 pt-lg-3">
            <p class="lead">
                Compendio de estudios desarrollados durante el PTI Caprino 2018-2020, que incluye el
                <b>"Diagnóstico de situación de beneficiarios del PTI Caprino"</b>, desarrollado por Claudia
                Torres, Ing. Agrónomo, Estación experimental Las Cardas, Universidad de Chile, <b>"Asesoría
                en Gobernanza"</b>, desarrollado por el Programa Territorial Integrado.
                <br>
                <br>
                Link:
                <a target="_self" href="http://localhost:4200/assets/files/downloads/compendio_programa_caprino_governanza.pdf"
                    download="compendio_programa_caprino_governanza.pdf">
                    www.transformacarprino.cl/descargas/compendio_programa_caprino_governanza.pdf
                </a>
            </p>
        </div>
        <div class="col-lg-4 overflow-hidden text-center">
            <img class="rounded-lg-3" src="./assets/images/general/portada_governanza.jpg" width="400px">
        </div>
    </div>
</div>

<div class="container my-5">
    <h1 class="display-5 fw-bold lh-1 mb-3 text-center">"Informe Diagnóstico - Análisis de la demanda, requerimientos y determinación de brechas de la actividad caprina como servicio turístico" (Marzo 2022)</h1>
</div>

<div class="container my-5">
    <div class="row align-items-center">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <p class="lead">
                Empresa proveedora Touristed desarrolla un diagnóstico a nueve productores del
                programa Transforma Caprino, señalando características que interesen para el
                desarrollo de una oferta turística, con enfoque en la identificación de brechas.
                Este diagnóstico pretende identificar y describir las potencialidades de un grupo
                de productores caprinos para desarrollar una oferta turística que pueda contribuir
                a diversificar sus ingresos y dar identidad a la región a través de su quehacer.
                <br>
                <br>
                Link:
                <a target="_self" href="http://localhost:4200/assets/files/downloads/informe_diagnostico_brechas_tc.pdf"
                    download="informe_diagnostico_brechas_tc.pdf">
                    www.transformacarprino.cl/descargas/informe_diagnostico_brechas_tc.pdf
                </a>
            </p>
        </div>
        <div class="col-lg-4 overflow-hidden text-center">
            <img class="rounded-lg-3" src="./assets/images/general/capacitacion.jpg" width="450px">
        </div>
    </div>
</div>

<div class="container my-5">
    <h2 class="display-5 fw-bold lh-1 mb-3 text-center">"Informe Plan de Marketing y Difusión" (Marzo 2022)</h2>
</div>

<div class="container my-5">
    <div class="row align-items-center">
        <div class="col-lg-4 overflow-hidden text-center">
            <img class="rounded-lg-3" src="./assets/images/general/giras.jpg" width="500px">
        </div>
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <p class="lead">
                Empresa proveedora Seven 7 desarrolla un informe con un plan de promoción
                a ejecutar en el programa Transforma Caprino, de modo de posicionar los
                productos caprinos de los crianceros en mercados formales y de alto valor.
                Este informe contiene el desarrollo de talleres de co-creación, los que buscan
                analizar e identificar factores como el público objetivo, atributos y diferenciales,
                marca identitaria, definición de canales de difusión, entre otros. El estudio culmina
                con el desarrollo de un plan de marketing y difusión que se llevará a cabo en su
                primera etapa durante el año 2022.
                <br>
                <br>
                Link:
                <a target="_self" href="http://localhost:4200/assets/files/downloads/informe_seven_promocion.pdf"
                    download="informe_seven_promocion.pdf">
                    www.transformacarprino.cl/descargas/informe_seven_promocion.pdf
                </a>
            </p>
        </div>
    </div>
</div>

<app-footer></app-footer>