.caprino-bg-green {
    background-color: #95C11F;
}

.caprino-bg-red {
    background-color: #D60B52;
}

.caprino-bg-orange {
    background-color: #F39200;
}

.caprino-icon-size {
    font-size: 28px;
}

.caprino-card-size {
    height: 200px;
}